// Menu - Colors
$menu-color: #FFFFFF;
$menu-active-bg: #638f00;

// Menu - User image
$menu-user-img-width: 10vw;
$menu-user-img-ratio: 1 1;

// Menu - Options
$menu-top-options-height: 60vh;

// Merge maps
$pre-img-ratios: append($pre-img-ratios, $menu-user-img-ratio);
