<ion-modal-view class="ri-modal-change-pass">
	<ion-header-bar class="bar-calm">
		<h1 class="title">Reset Your Password</h1>
		<div class="buttons">
			<button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content ng-switch="status.changePasswordMode">
		<!-- SITUATION 1: Lost Password -->
		<div ng-switch-when="lost">
			<md-card id="card-transparent" class="md-whiteframe-2dp">
				<md-card-header layout="row" layout-align="center center">
					<request-it-logo></request-it-logo>
				</md-card-header>
				<md-card-content>
					<md-content class="md-padding transparent">
						<form name="resetPasswordForm" novalidate>
							<div class="login-social-media-container">
								<div class="social">
									<span class="flow-text mdc-text-deep-orange-800">please enter your email</span>
								</div>
							</div>
							<md-input-container class="md-block">
								<md-icon class="material-icons mdc-text-blue-900">email</md-icon>
								<input type="email" name="userEmail" ng-model="changePasswordData.userEmail" placeholder="Your current email" minlength="6" maxlength="100" ng-pattern="emailPattern" ng-required="true" autocomplete="off">
								<div ng-messages="resetPasswordForm.userEmail.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
										Please enter a valid email between 6 and 100 characters long.
									</div>
								</div>
							</md-input-container>
							<div layout="row" layout-align="center center">
								<md-button type="submit" ng-disabled="resetPasswordForm.$invalid" ng-click="resetPassword()" class="md-raised signin-button">Send Temporary Password</md-button>
							</div>
						</form>
					</md-content>
				</md-card-content>
			</md-card>
		</div>

		<!-- SITUATION 2: Change password -->
		<div ng-switch-when="change">
			<md-card id="card-transparent" class="md-whiteframe-2dp">
				<md-card-header layout="row" layout-align="center center">
					<request-it-logo></request-it-logo>
				</md-card-header>
				<md-card-content>
					<md-content class="md-padding transparent">
						<form name="resetPasswordForm" novalidate>
							<div class="login-social-media-container">
								<div class="social">
									<span class="flow-text mdc-text-deep-orange-800">create your new password</span>
								</div>
							</div>
							<md-input-container class="md-block">
								<md-icon class="material-icons mdc-text-blue-900">vpn_key</md-icon>
								<input type="password" name="oldPassword" placeholder="The temporary password" ng-model="changePasswordData.oldPassword" ng-required="true" minlength="6" maxlength="100" autocomplete="off">
								<div ng-messages="resetPasswordForm.oldPassword.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength']">
										Please enter a password between 6 and 100 characters long.
									</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<md-icon class="material-icons mdc-text-blue-900">vpn_key</md-icon>
								<input type="password" name="newPassword" placeholder="Enter a new password" ng-model="changePasswordData.newPassword" ng-required="true" minlength="6" maxlength="100" autocomplete="off">
								<div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength']">
										Please enter a password between 6 and 100 characters long.
									</div>
								</div>
							</md-input-container>
							<div layout="row" layout-align="center center">
								<md-button type="submit" ng-disabled="resetPasswordForm.$invalid" ng-click="doChangePassword()" class="md-raised signin-button">Change Password</md-button>
							</div>
						</form>
					</md-content>
				</md-card-content>
			</md-card>
		</div>
	</ion-content>
</ion-modal-view>