$pre-img-bg: rgba(lighten(#666666, 15%), .25);

// Images - Spinner on load
$spinner-size: 50px;
$spinner-svg-size: 28px;
$spinner-color: #FFFFFF;
// Images - Multimedia background
$multi-bg: darken(#fcfcfc, 30%);
$overlay-bg: #000000;

// Images - Preload images
$pre-img-ratios: ();
