html,
.ionic-body,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

.md-subheader.md-default-theme, .md-subheader {
    color: rgba(0,0,0,0.65);
    background-color: #cfd8dc;
}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
    color: #0d47a1;
}

#map {
	width: 100%;
	height: 100%;
}

.scroll {
	height: 100%;
}

.ri-modal-change-pass {
	background-color: #eceff1 !important;
}

form {
	margin: 0;
	padding: 0;
}

a {
	color: #1565C0;
	font-weight: 400;
	text-decoration: none;
}

	a.registerLink {
		color: #1565C0;
		font-weight: 400;
	}

		a.registerLink:hover {
			color: #0d47a1;
		}

		a.registerLink:focus {
			color: #0d47a1;
		}

	a.md-button {
		border-bottom: none;
	}

.ri-account-menu-icon {
	font-size: 25px;
	color: #1e88e5;
}

.ri-account-menu-active {
	background-color: #fff9c4;
}

	.ri-account-menu-active i {
		color: #0d47a1;
	}

md-input-container {
	margin: 35px 0;
}

.md-user-image-large {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

ion-view {
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

#leftSideMenu {
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

#account-profile-picture {
	height: 400px;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
}

.upload-button {
	position: absolute;
	top: -35px;
	left: 80%;
}

md-divider.md-default-theme,
md-divider {
	border-top-color: rgba(0, 0, 0, 0.35);
}

md-card#card-transparent {
	margin: 5px;
	background-color: rgba(255, 255, 255, 0.8) !important;
}

md-card#ri-card-transparent {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8) !important;
}

md-toolbar .md-button.md-default-theme {
	border-radius: 99%;
}

md-toolbar:not(.md-hue-1),
.md-fab {
	fill: #fff;
}

.md-errors-spacer {
	display: none;
}

.tabs-transparent {
	background-color: rgba(255, 255, 255, 0.6) !important;
}

md-content {
	overflow: inherit;
}

	md-content.ri-transparent {
		background-color: rgba(255, 255, 255, 0.6) !important;
	}

md-card md-card-header {
	padding-bottom: 0;
}

.md-warn {
	color: red;
}

.bar.bar-calm,
.bar-header.bar-calm.bar,
.platform-override .bar-header.bar-calm.bar {
	background-color: #1E4B64;
	color: #fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3) !important;
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3) !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3) !important;
	border: none;
	background-image: none !important;
	height: 50px;
}

.bar .button.button-clear,
.bar button.button-clear {
	margin-left: -10px;
}

.platform-win32 .has-header {
	top: 50px !important;
}

.platform-android .has-header {
	top: 50px !important;
}

.platform-ios .has-header {
	top: 64px !important;
}

.bar .title {
	top: 4px;
}

em {
	font-style: italic;
	color: #0D47A1;
}

.button-small-width {
	min-width: 200px;
}

.mainLogo {
	width: 90%;
	height: 90%;
}

.md-button.md-ink-ripple.activated {
	-webkit-transform: translateZ(0);
}

.md-button.md-raised.call-to-action-button {
	background-color: #42A5F5;
	color: #fff;
	width: 70%;
}

	.md-button.md-raised.call-to-action-button:not([disabled]):hover {
		background-color: #64B5F6;
	}

.md-button.md-raised.custom-button {
	background-color: #42A5F5;
	color: #fff;
}

	.md-button.md-raised.custom-button:not([disabled]):hover {
		background-color: #64B5F6;
	}

.md-button.md-raised.signin-button {
	background-color: #ffb300;
	color: #fff;
	width: 80%;
	height: 40px;
}

	.md-button.md-raised.signin-button:not([disabled]):hover {
		background-color: #ffc107;
	}

.md-button.md-raised.signup-button {
	background-color: #ef6c00;
	color: #fff;
	width: 80%;
	height: 40px;
}

	.md-button.md-raised.signup-button:not([disabled]):hover {
		background-color: #fb8c00;
	}

.md-button.md-raised.camera-button {
	background-color: #E65100;
	color: #fff;
	width: 100%;
	height: 45px;
}

	.md-button.md-raised.camera-button:not([disabled]):hover {
		background-color: #E65100;
	}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
	border-color: #2962FF;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon,
md-input-container:not(.md-input-invalid).md-input-focused md-icon {
	color: #2962FF;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label,
md-input-container:not(.md-input-invalid).md-input-focused label {
	color: #2962FF;
}

md-input-container.md-default-theme label,
md-input-container label,
md-input-container.md-default-theme .md-placeholder,
md-input-container .md-placeholder {
	color: rgba(0, 0, 0, 0.8);
}

md-select.md-default-theme .md-select-value,
md-select .md-select-value {
	border-bottom-color: #0D47A1;
}

md-input-container:not(.md-input-has-value) input:not(:focus),
md-input-container:not(.md-input-has-value) {
	/*color: #37474F;*/
	color: rgba(0, 0, 0, 0.8);
}

md-input-container .md-input {
	color: rgba(0, 0, 0, 0.8);
	border-color: #0D47A1;
}

md-input-container.md-input-invalid > md-icon {
	color: #dd2c00;
}

.md-input-focused md-input-container:not(.md-input-invalid) .md-input {
	border-color: #0D47A1;
}

.md-input-focused md-input-container:not(.md-input-invalid) md-icon {
	color: #0D47A1;
}

.md-input-focused md-input-container:not(.md-input-invalid) label {
	color: #0D47A1;
}

md-select.md-default-theme ._md-select-value._md-select-placeholder,
md-select ._md-select-value._md-select-placeholder {
	color: rgba(0, 0, 0, 0.8);
}

md-select.md-default-theme ._md-select-value,
md-select ._md-select-value {
	border-bottom-color: #0D47A1;
}

md-select.md-default-theme:not([disabled]):focus ._md-select-value,
md-select:not([disabled]):focus ._md-select-value {
	border-bottom-color: rgb(96, 125, 139);
	color: #0D47A1;
}

	md-select.md-default-theme:not([disabled]):focus ._md-select-value._md-select-placeholder,
	md-select:not([disabled]):focus ._md-select-value._md-select-placeholder {
		color: #0D47A1;
	}

.autoCompleteIcon {
	top: 40px;
}

.selectBoxIcon {
	top: 3px;
}

.cameraIcon {
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	text-shadow: rgb(161, 57, 0) 0 0 0px, rgb(163, 57, 0) 1px 1px 0px, rgb(165, 58, 0) 2px 2px 0px, rgb(167, 59, 0) 3px 3px 0px, rgb(169, 59, 0) 4px 4px 0px, rgb(171, 60, 0) 5px 5px 0px, rgb(173, 61, 0) 6px 6px 0px, rgb(175, 62, 0) 7px 7px 0px, rgb(177, 62, 0) 8px 8px 0px, rgb(179, 63, 0) 9px 9px 0px, rgb(181, 64, 0) 10px 10px 0px, rgb(183, 64, 0) 11px 11px 0px, rgb(185, 65, 0) 12px 12px 0px, rgb(187, 66, 0) 13px 13px 0px, rgb(189, 66, 0) 14px 14px 0px, rgb(191, 67, 0) 15px 15px 0px, rgb(193, 68, 0) 16px 16px 0px, rgb(195, 69, 0) 17px 17px 0px, rgb(196, 69, 0) 18px 18px 0px, rgb(198, 70, 0) 19px 19px 0px, rgb(200, 71, 0) 20px 20px 0px, rgb(202, 71, 0) 21px 21px 0px, rgb(204, 72, 0) 22px 22px 0px, rgb(206, 73, 0) 23px 23px 0px, rgb(208, 73, 0) 24px 24px 0px, rgb(210, 74, 0) 25px 25px 0px, rgb(212, 75, 0) 26px 26px 0px, rgb(214, 75, 0) 27px 27px 0px, rgb(216, 76, 0) 28px 28px 0px, rgb(218, 77, 0) 29px 29px 0px, rgb(220, 78, 0) 30px 30px 0px, rgb(222, 78, 0) 31px 31px 0px, rgb(224, 79, 0) 32px 32px 0px, rgb(226, 80, 0) 33px 33px 0px, rgb(228, 80, 0) 34px 34px 0px;
	font-size: 50px;
	color: rgb(250, 250, 250);
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
	text-align: center;
	background-color: rgb(230, 81, 0);
	margin-top: -8px;
	margin-left: -8px;
	overflow: hidden;
}

.md-button.md-icon-button.cameraButton {
	margin: 0 6px;
	height: 100px;
	min-width: 0;
	line-height: 24px;
	padding: 8px;
	width: 100px;
	border-radius: 50%;
	overflow: visible;
}

.photoCard {
	margin: 0;
}

.item-complex .item-content {
	background: transparent;
}

md-card md-card-title.photoCardTitleContainer {
	padding: 14px 16px 16px;
}

.image {
	display: inline-block;
	margin: 4px;
	border: none;
	background-position: center center;
	background-repeat: no-repeat;
}

	.image.size-fixed {
		width: 300px;
		height: 300px;
	}

	.image.size-fluid {
		padding-top: 15%;
		width: 20%;
	}

	.image.scale-fit {
		background-size: contain;
	}

	.image.scale-fill {
		background-size: cover;
	}

	.image img {
		display: none;
	}

.transparent {
	background: transparent !important;
}

.md-inline-list-icon-label {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -10px;
	height: 24px;
	vertical-align: middle;
}

md-list-item .md-list-item-inner {
	min-height: 48px;
}

md-tab-content.transparent {
	background-color: rgba(255, 255, 255, 0.6) !important;
}

.bar .buttons-right span {
	margin-right: 10px;
}

.bar .buttons-left span {
	margin-left: 10px;
}

.bar .button.back-button,
.bar button.back-button {
	margin-left: 10px;
}

md-bottom-sheet.md-grid {
	background-color: #f5f5f5;
}

#landing-tagline {
	font-size: 1.4em;
	font-weight: 500;
	text-align: center;
	margin-bottom: 15px;
	visibility: hidden;
}

#card-header-text {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 500;
	margin-top: -12px;
}

#card-header-text-no-size {
	text-align: center;
	font-weight: 500;
	margin-top: -12px;
}

#tab-header-text {
	font-size: 24px;
	font-weight: 500;
}

#navIcon {
	color: #FFFDE7;
}

#toast-container > div:hover {
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.50);
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.50);
}

.top-menu-icon {
	color: white;
	font-size: 24px;
}

.login-social-media-container {
	margin-top: 10px;
	margin-bottom: 10px;
}

	.login-social-media-container .social {
		width: 100%;
		position: relative;
		overflow: hidden;
		text-align: center;
	}

		.login-social-media-container .social span {
			display: inline-block;
			vertical-align: baseline;
			padding: 0 20px;
		}

			.login-social-media-container .social span:before,
			.login-social-media-container .social span:after {
				content: '';
				display: block;
				width: 500px;
				position: absolute;
				top: 0.8em;
				border-top: 1px solid #D84315;
			}

			.login-social-media-container .social span:before {
				right: 85%;
			}

			.login-social-media-container .social span:after {
				left: 85%;
			}

.md-button.md-raised.social-login-button-google {
	background-color: #DC4A38;
	color: #fff;
	height: 45px;
	width: 95%;
}

	.md-button.md-raised.social-login-button-google:not([disabled]):hover {
		background-color: #fbc02d;
	}

.md-button.md-raised.social-login-button-facebook {
	background-color: #3F62B4;
	color: #fff;
	height: 45px;
	width: 95%;
}

	.md-button.md-raised.social-login-button-facebook:not([disabled]):hover {
		background-color: #fbc02d;
	}

.md-button.md-raised.social-login-button-twitter {
	background-color: #27AAE2;
	color: #fff;
	height: 45px;
	width: 95%;
}

	.md-button.md-raised.social-login-button-twitter:not([disabled]):hover {
		background-color: #fbc02d;
	}

md-icon.zmdi.zmdi-google.zmdi-hc-2x {
	color: #fff;
}

md-icon.zmdi.zmdi-facebook.zmdi-hc-2x {
	color: #fff;
}

md-icon.zmdi.zmdi-twitter.zmdi-hc-2x {
	color: #fff;
}

.noBottomPadding {
	padding: 24px 16px 0;
}

.flow-text {
	font-weight: 300;
	line-height: 1.5em;
}

@media only screen and (min-width: 360px) {
	.flow-text {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 390px) {
	.flow-text {
		font-size: 1.224rem;
	}
}

@media only screen and (min-width: 420px) {
	.flow-text {
		font-size: 1.248rem;
	}
}

@media only screen and (min-width: 450px) {
	.flow-text {
		font-size: 1.272rem;
	}
}

@media only screen and (min-width: 480px) {
	.flow-text {
		font-size: 1.296rem;
	}
}

@media only screen and (min-width: 510px) {
	.flow-text {
		font-size: 1.32rem;
	}
}

@media only screen and (min-width: 540px) {
	.flow-text {
		font-size: 1.344rem;
	}
}

@media only screen and (min-width: 570px) {
	.flow-text {
		font-size: 1.368rem;
	}
}

@media only screen and (min-width: 600px) {
	.flow-text {
		font-size: 1.392rem;
	}
}

@media only screen and (min-width: 630px) {
	.flow-text {
		font-size: 1.416rem;
	}
}

@media only screen and (min-width: 660px) {
	.flow-text {
		font-size: 1.44rem;
	}
}

@media only screen and (min-width: 690px) {
	.flow-text {
		font-size: 1.464rem;
	}
}

@media only screen and (min-width: 720px) {
	.flow-text {
		font-size: 1.488rem;
	}
}

@media only screen and (min-width: 750px) {
	.flow-text {
		font-size: 1.512rem;
	}
}

@media only screen and (min-width: 780px) {
	.flow-text {
		font-size: 1.536rem;
	}
}

@media only screen and (min-width: 810px) {
	.flow-text {
		font-size: 1.56rem;
	}
}

@media only screen and (min-width: 840px) {
	.flow-text {
		font-size: 1.584rem;
	}
}

@media only screen and (min-width: 870px) {
	.flow-text {
		font-size: 1.608rem;
	}
}

@media only screen and (min-width: 900px) {
	.flow-text {
		font-size: 1.632rem;
	}
}

@media only screen and (min-width: 930px) {
	.flow-text {
		font-size: 1.656rem;
	}
}

@media only screen and (min-width: 960px) {
	.flow-text {
		font-size: 1.68rem;
	}
}

@media only screen and (max-width: 360px) {
	.flow-text {
		font-size: 1rem;
	}
}

#reset-image {
	color: #f93e25;
	font-size: 36px;
}

	#reset-image:active {
		color: lightskyblue;
	}

#show-image {
	color: #F9A825;
	font-size: 36px;
}

	#show-image:active {
		color: lightskyblue;
	}

.full-size-md-card {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

md-fab-toolbar md-toolbar .md-toolbar-tools {
	padding: 0 20px;
	margin-top: 7px;
	margin-left: 10px;
}

.profile-upload-icon-button {
	position: absolute;
	right: 100px;
	top: 70px;
}

.profile-upload-icon {
	color: white;
}

.inputErrorsApp {
	min-height: 48px;
}

md-input-container > p {
	font-size: 0.8em;
	text-align: left;
	width: 100%;
}

md-dialog.md-dialog-fullscreen {
	background: transparent;
	box-shadow: none;
}

md-dialog.md-transition-in {
	opacity: 1;
	-moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transform: translate3d(0, 0, 0) scale(1);
	-moz-transform: translate3d(0, 0, 0) scale(1);
	-ms-transform: translate3d(0, 0, 0) scale(1);
	-o-transform: translate3d(0, 0, 0) scale(1);
	transform: translate3d(0, 0, 0) scale(1);
}

md-dialog.md-transition-out {
	opacity: 0;
	-moz-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-o-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transform: translate3d(0, 100%, 0) scale(0.2);
	-moz-transform: translate3d(0, 100%, 0) scale(0.2);
	-ms-transform: translate3d(0, 100%, 0) scale(0.2);
	-o-transform: translate3d(0, 100%, 0) scale(0.2);
	transform: translate3d(0, 100%, 0) scale(0.2);
}

.image-modal {
	width: 100% !important;
	height: 100%;
	top: 0 !important;
	left: 0 !important;
}

.fullscreen-image {
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
}

.slide-tab {
	display: table;
	overflow: hidden;
	margin: 0;
	width: 100%;
	background-color: #eff0f2;
	border-bottom: 2px solid #E65100;
}

	.slide-tab li {
		float: left;
		line-height: 38px;
		overflow: hidden;
		padding: 0;
	}

	.slide-tab a {
		background-color: #eff0f2;
		border-bottom: 1px solid #fff;
		color: #888;
		font-weight: 500;
		display: block;
		letter-spacing: 0;
		outline: none;
		padding: 0 20px;
		text-decoration: none;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		border-bottom: 2px solid #E65100;
	}

.current a {
	color: #fff;
	background: #E65100;
}

#search-requests::-webkit-input-placeholder {
	color: #eceff1;
}

:focus::-webkit-input-placeholder {
	color: #eceff1;
}

md-sidenav.md-default-theme,
md-sidenav {
	background-color: #ECEFF1;
}

.platform-ios md-sidenav.md-sidenav-right.md-whiteframe-z2._md.flex-40 {
	margin-top: 64px;
}

.platform-android md-sidenav.md-sidenav-right.md-whiteframe-z2._md.flex-40 {
	margin-top: 45px;
}

.md-caption {
	font-size: 12px;
	letter-spacing: 0;
}

.count-bar {
	width: 100%;
	position: relative;
}

.requests-made,
.requests-received-count,
.supporters-count {
	display: inline-block;
	color: #00819B;
	font-weight: 700;
	font-size: 1.2em;
}

.req-made,
.req-rec,
.sup-count {
	color: darkgrey;
	margin-left: 5px;
	font-weight: 400;
}

.messages {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-align-content: center !important;
	-ms-flex-line-pack: center !important;
	-ms-align-content: center !important;
	align-content: center !important;
	-webkit-box-align: center !important;
	-moz-box-align: center !important;
	-webkit-align-items: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	margin-bottom: 20px !important;
}

	.messages .message {
		-webkit-box-flex: 1 !important;
		-moz-box-flex: 1 !important;
		-webkit-flex: 1 1 auto !important;
		-ms-flex: 1 1 auto !important;
		flex: 1 1 auto !important;
		padding: 10px !important;
		-webkit-transition: all 250ms ease-in-out !important;
		-moz-transition: all 250ms ease-in-out !important;
		-o-transition: all 250ms ease-in-out !important;
		transition: all 250ms ease-in-out !important;
		overflow: hidden !important;
		text-align: left !important;
		-webkit-transform: translate3d(0, 0, 0) !important;
		-moz-transform: translate3d(0, 0, 0) !important;
		-ms-transform: translate3d(0, 0, 0) !important;
		-o-transform: translate3d(0, 0, 0) !important;
		transform: translate3d(0, 0, 0) !important;
	}

	.messages.other .message {
		-webkit-transform: translate3d(0, 0, 0) !important;
		-moz-transform: translate3d(0, 0, 0) !important;
		-ms-transform: translate3d(0, 0, 0) !important;
		-o-transform: translate3d(0, 0, 0) !important;
		transform: translate3d(0, 0, 0) !important;
		text-align: right !important;
	}

		.messages.other .message.slide-right {
			-webkit-transform: translate3d(120px, 0, 0) !important;
			-moz-transform: translate3d(120px, 0, 0) !important;
			-ms-transform: translate3d(120px, 0, 0) !important;
			-o-transform: translate3d(120px, 0, 0) !important;
			transform: translate3d(120px, 0, 0) !important;
		}

	.messages.other span {
		color: black !important;
		background-color: #C7C7CC !important;
	}

	.messages span {
		background: #007AFF !important;
		display: inline-block !important;
		color: white !important;
		padding: 10px !important;
		border-radius: 20px !important;
		text-align: left !important;
		max-width: 240px !important;
	}

	.messages .time {
		font-size: 11px;
		color: #777;
		margin-left: 7px;
	}

.message-input input {
	width: 100%;
	background: #FFFFFF;
}

.item-input-wrapper {
	background: #FFFFFF;
}

.left-menu-avatar {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	vertical-align: middle;
	margin-bottom: 10px;
}

.feedback-button {
	margin: 0;
	background-color: #FFAB00;
	border-color: #FFAB00;
	color: #140d00;
	padding: 0 16px;
	width: 100%;
	height: 56px;
	text-transform: capitalize;
	font-size: 16px;
	border-radius: 0;
	font-weight: 400;
}

.md-button.feedback-button:not([disabled]):hover {
	background-color: #FFC400;
}

.feedback-button.active {
	background-color: #03a9f4;
	color: white;
}

.user-name {
	color: rgba(250, 250, 250, 0.8);
	margin-left: -30px;
	margin-bottom: 10px;
	font-size: 16px;
}

.notification-icon {
	font-size: 30px;
	margin-bottom: 12px;
	color: white;
	position: absolute;
	right: 20px;
	top: 30px;
}

.notifications-unseen {
	position: absolute;
	right: 13px;
	top: 27px;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	color: white;
	background-color: #D50000;
	font-size: 11px;
	text-align: center;
	line-height: 22px;
	font-weight: 600;
}

#notification {
	cursor: pointer;
}

.lower-container {
	position: absolute;
	left: 0;
	bottom: 45px;
	height: 100px;
	width: 100%;
}

.lower-button {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 56px;
	width: 100%;
}

.bottom-nav-container {
	border-top: #9E9E9E;
	border-top-width: 1px;
	border-top-style: solid;
}

.multi-bg-outer {
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	position: relative;
	background-color: rgba(150, 150, 150, 0.8);
	height: 100%;
	-webkit-transition: all ease-in-out 0.3s;
	-moz-transition: all ease-in-out 0.3s;
	-o-transition: all ease-in-out 0.3s;
	transition: all ease-in-out 0.3s;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -2;
}

	.multi-bg-outer.finish-loading {
		background-color: transparent;
	}

	.multi-bg-outer .bg-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #000000;
		z-index: -1;
		opacity: 0.6;
	}

	.multi-bg-outer .multi-bg {
		display: none;
	}

.menu-outer .multi-bg-outer .bg-overlay {
	opacity: 0.65;
}

.menu-outer ion-item {
	background: transparent;
	border: none;
	color: rgba(250, 250, 250, 0.7);
}

	.menu-outer ion-item .item-content {
		background: transparent;
	}

		.menu-outer ion-item .item-content.activated {
			color: #FFD600;
			border-color: transparent;
		}

			.menu-outer ion-item .item-content.activated .menu-text {
				color: #FFD600;
			}

	.menu-outer ion-item.active .item-content {
		color: #6D4C41;
		border-color: transparent;
		background: rgba(252, 234, 187, 1);
		background: -moz-linear-gradient(left, rgba(252, 234, 187, 1) 0, rgba(252, 205, 77, 0.86) 20%, rgba(248, 181, 0, 0.48) 75%, rgba(255, 214, 0, 0.3) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0, rgba(252, 234, 187, 1)), color-stop(20%, rgba(252, 205, 77, 0.86)), color-stop(75%, rgba(248, 181, 0, 0.48)), color-stop(100%, rgba(255, 214, 0, 0.3)));
		background: -webkit-linear-gradient(left, rgba(252, 234, 187, 1) 0, rgba(252, 205, 77, 0.86) 20%, rgba(248, 181, 0, 0.48) 75%, rgba(255, 214, 0, 0.3) 100%);
		background: -o-linear-gradient(left, rgba(252, 234, 187, 1) 0, rgba(252, 205, 77, 0.86) 20%, rgba(248, 181, 0, 0.48) 75%, rgba(255, 214, 0, 0.3) 100%);
		background: linear-gradient(to right, rgba(252, 234, 187, 1) 0, rgba(252, 205, 77, 0.86) 20%, rgba(248, 181, 0, 0.48) 75%, rgba(255, 214, 0, 0.3) 100%);
	}

.item .item-content.activated,
.item .item-content.activated.item-complex > .item-content,
.item .item-content.active,
.item .item-content.active.item-complex > .item-content,
.item-complex.activated .item-content,
.item-complex.activated .item-content.item-complex > .item-content,
.item-complex.active .item-content,
.item-complex.active .item-content.item-complex > .item-content,
.item.activated,
.item.activated.item-complex > .item-content,
.item.active,
.item.active.item-complex > .item-content {
	border-color: transparent;
	background-color: transparent;
}

.menu-outer ion-item.active .menu-text {
	color: #6D4C41;
	font-weight: 500;
}

.menu-outer ion-item .menu-icon {
	font-size: 22px;
}

.menu-outer ion-item .menu-text {
	color: rgba(250, 250, 250, 0.90);
	margin-left: -5px;
}

.menu-outer.right-menu ion-item {
	border-left: 0 solid transparent;
	border-right: 4px solid transparent;
}

	.menu-outer.right-menu ion-item.active {
		border-right-color: #FBC02D;
	}

.menu-outer.left-menu ion-item {
	border-right: 0 solid transparent;
	border-left: 4px solid transparent;
}

	.menu-outer.left-menu ion-item.active {
		border-left-color: #FBC02D;
	}

.menu-outer .user-item .item-content {
	padding: 12px 16px;
}

.menu-outer .user-item .user-image-outer {
	width: 15vw;
	margin-left: -6px;
	float: left;
}

	.menu-outer .user-item .user-image-outer .pre-img {
		overflow: hidden;
	}

	.menu-outer .user-item .user-image-outer .user-image {
		width: 100%;
		border-radius: 50%;
	}

.menu-outer .user-item .menu-text {
	height: 10vw;
	line-height: 15vw;
	margin-left: 6px;
	margin-bottom: 0;
	float: left;
}

.menu-outer .menu-bottom-options ion-item:last-child {
	margin-left: -4px;
}

.menu-outer .menu-top-options,
.menu-outer .menu-bottom-options {
	padding: 0;
	margin: 0;
}

	.menu-outer .menu-top-options .col,
	.menu-outer .menu-bottom-options .col {
		padding: 0;
	}

.menu-outer .menu-top-options {
	height: 60vh;
	padding-top: 10vh;
}

.menu-outer .menu-bottom-options {
	height: 40vh;
}

.card {
	width: 100%;
	margin: 10px 5px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.9) !important;
}

	.card.with-badge:after {
		content: " ";
		border: 30px solid #f9a825;
		position: absolute;
		top: 0;
		right: 0;
		border-bottom-color: transparent;
		border-left-color: transparent;
	}

	.card .inner-wrap {
		padding: 1.5em;
	}

		.card .inner-wrap p:last-of-type {
			margin-bottom: 0;
		}

	.card h3 {
		margin: 0;
		padding-bottom: 1em;
		font-size: 1.3em;
	}

		.card h3 a {
			color: #000;
		}

			.card h3 a:hover {
				color: #000;
			}

		.card h3 img {
			width: 65px !important;
			height: 65px !important;
			border-radius: 50%;
			vertical-align: middle;
			margin-right: .5em;
		}

	.card .title {
		line-height: 1.5;
		font-size: 1.3em;
		display: block;
	}

	.card .inner-wrap p {
		margin-top: 0.5em;
		font-size: 1em;
		color: #777;
		line-height: 1.6;
	}

	.card .likes-bar p {
		margin-top: 1em;
		font-size: 1em;
		color: #777;
		line-height: 1.6;
	}

	.card a {
		color: #2A91E7;
		text-decoration: none;
	}

		.card a:hover,
		.card a:focus {
			color: #1469b1;
			text-decoration: underline;
		}

	.card .likes-bar {
		/*border-top: solid 1px #ccc; -- For When the action bar is hidden */
		border: solid 1px #ccc;
		padding: 0 1.5em;
		border-width: 1px 0 1px 0;
		font-size: 1.2em;
	}

		.card .likes-bar p {
			color: #777;
		}

			.card .likes-bar p a:first-of-type {
				color: #333;
				font-weight: bold;
			}

		.card .likes-bar img {
			width: 45px !important;
			height: 45px !important;
			border-radius: 50%;
			vertical-align: middle;
			margin-right: .5em;
			margin-top: -.4em;
		}

	.card .action-bar ul {
		margin: 0;
		padding: 0;
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.card .action-bar li {
		list-style: none;
		float: left;
		text-align: center;
		font-size: 1.3em;
	}

		.card .action-bar li a {
			display: block;
			padding: 1em 0;
			color: #666;
		}

			.card .action-bar li a:hover,
			.card .action-bar li a:focus {
				color: #000;
				text-decoration: none;
			}

		.card .action-bar li.requests {
			width: 60%;
			text-align: left;
			padding: 0 1em;
			border: solid #ccc;
			border-width: 0 1px 0 0;
		}

			.card .action-bar li.requests .requests-link {
				font-size: 0.9em;
				font-weight: bold;
			}

		.card .action-bar li.report,
		.card .action-bar li.photo {
			width: 20%;
		}

		.card .action-bar li.report {
			border: solid #ccc;
			border-width: 0 1px 0 0;
		}

	.card .action-bar span:not(.requests-link) {
		position: absolute;
		overflow: hidden;
		clip: rect(0 0 0 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}

md-list-item .md-no-style,
md-list-item.md-no-proxy {
	padding: 0 8px;
}

.ri-request-made-time {
	padding: 5px;
	font-size: 1em;
	text-align: right;
}

.selectdemoSelectHeader {
	/* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}

	.selectdemoSelectHeader .demo-header-searchbox {
		border: none;
		outline: none;
		height: 100%;
		width: 100%;
		padding: 0;
	}

	.selectdemoSelectHeader .demo-select-header {
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
		padding-left: 10.667px;
		height: 48px;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		width: auto;
	}

	.selectdemoSelectHeader md-content._md {
		max-height: 240px;
	}
